html {
  font-size: 1.1rem;
}

@include respond-below(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include respond-below(md) {
  html {
    font-size: 1.0rem;
  }
}

@include respond-above(xl) {
  html {
    font-size: 1.2rem;
  }
}

@include respond-above(xxl) {
  html {
    font-size: 1.3rem;
  }
}
