////////////////////////////////////////////////////////////////////////////////
// Color Variables
////////////////////////////////////////////////////////////////////////////////

$primary-color: #FF9900;
$secondary-color: #0066FF;
$text-color: #333333;
$light-grey: #d0d0d0;
$border-color: #ACB9C4;
$white: #FFFFFF;
$nav-col: rgba(250, 250, 250, 0.1);
$nav-col-scrolled: rgba(250, 250, 250, 0.95);

////////////////////////////////////////////////////////////////////////////////
// Font Variables
////////////////////////////////////////////////////////////////////////////////

$primary-font: 'Roboto', sans-serif;
$body-font: 'Didot', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
$brand-font: $primary-font;

////////////////////////////////////////////////////////////////////////////////
// Size Variables
////////////////////////////////////////////////////////////////////////////////

$brand-height: 20px;
